<header class="fixed bg-white w-full h-20 p-[14.375px] flex justify-between text-[20.7px] text-text-color-header -tracking-[0.035rem] font-bold font-roboto">
    <div class="flex items-center w-full">
        <img class="w-[108px] h-[52px] mx-[10.8px]" src="./assets/images/chevrolet-logo.webp" alt="">
        <ul class="flex p-[5px] w-full">
            <li class="px-[18px]"><button><span>Vehículos</span></button></li>
            <li class="px-[18px]"><button><span>Comprar</span></button></li>
            <li class="px-[18px]"><button><span>Postventa</span></button></li>
        </ul>
    </div>
    <div class="flex items-center">
        <ul class="flex w-[376px]">
            <li><button class="px-[18px] flex items-center"><img class="w-[28.75px] h-[28.75px] mr-1" src="./assets/images/nav-search-icon.svg" alt=""><span>Buscar</span></button></li>
            <li><button class="px-[18px] flex items-center"><img class="w-[57.5px] h-[28.75px]" src="./assets/images/icono-ubicacion-global.svg" alt=""><span>Concesionarios</span></button></li>
        </ul>
    </div>
</header>
