<section class="px-12 flex flex-col mt-[90px] bg-[#F2F2F2] pt-[57.5px]">
  <div class="flex">
    <div class="flex justify-between w-2/4">
      <ul class="px-12 w-1/3 text-xs font-roboto font-bold leading-[2.1rem]">
        <li class="text-lg font-normal mb-[55px] text-text-color-contact tracking-[0.22rem] font-louis">VEHÍCULOS</li>
        <li class="hover:text-hover-footer cursor-pointer">Todos</li>
        <li class="hover:text-hover-footer cursor-pointer">Autos</li>
        <li class="hover:text-hover-footer cursor-pointer">SUVs</li>
        <li class="hover:text-hover-footer cursor-pointer">Pick Ups</li>
        <li class="hover:text-hover-footer cursor-pointer">Deportivos</li>
      </ul>
      <ul class="px-12 w-1/3 text-xs font-roboto font-bold leading-[2.1rem]">
        <li class="text-lg font-normal mb-[55px] text-text-color-contact tracking-[0.22rem] font-louis">COMPRAR</li>
        <li class="hover:text-hover-footer cursor-pointer">Solicitá una cotización</li>
        <li class="hover:text-hover-footer cursor-pointer">Encontrá un concesionario</li>
        <li class="hover:text-hover-footer cursor-pointer">Ventas Corporativas</li>
        <li class="hover:text-hover-footer cursor-pointer">Financiamiento GPAT</li>
        <li class="hover:text-hover-footer cursor-pointer">Plan Chevrolet</li>
        <li class="hover:text-hover-footer cursor-pointer">Descargar Catálogos</li>
        <li class="hover:text-hover-footer cursor-pointer">Chateá con nosotros</li>
        <li class="hover:text-hover-footer cursor-pointer">Accesorios</li>
      </ul>
      <ul class="px-12 w-1/3 text-xs font-roboto font-bold leading-[2.1rem]">
        <li class="text-lg font-normal mb-[55px] text-text-color-contact tracking-[0.22rem] font-louis">SERVICIOS</li>
        <li class="hover:text-hover-footer cursor-pointer">Servicio Personalizado</li>
        <li class="hover:text-hover-footer cursor-pointer">Agendá un Servicio</li>
        <li class="hover:text-hover-footer cursor-pointer">Garantía</li>
        <li class="hover:text-hover-footer cursor-pointer">Asistencia en ruta</li>
        <li class="hover:text-hover-footer cursor-pointer">MyLink</li>
        <li class="hover:text-hover-footer cursor-pointer">Manual de Propietarios</li>
        <li class="hover:text-hover-footer cursor-pointer">Recalls</li>
        <li class="hover:text-hover-footer cursor-pointer">OnStar</li>
        <li class="hover:text-hover-footer cursor-pointer">Manuales de Rescate</li>
        <li class="hover:text-hover-footer cursor-pointer">Consumo de Combustible</li>
      </ul>
    </div>
    <div class="w-1/2 flex justify-between">
      <ul class="px-12 text-xs font-roboto font-bold w-1/2 leading-[2.1rem]">
        <li class="text-lg font-normal mb-[55px] text-text-color-contact tracking-[0.22rem] font-louis">MUNDO CHEVROLET</li>
        <li class="hover:text-hover-footer cursor-pointer">Por qué Chevrolet</li>
        <li class="hover:text-hover-footer cursor-pointer">Nuestra Planta</li>
      </ul>
      <ul class="px-12 text-xs font-roboto font-bold w-1/2 leading-[2.1rem]">
        <li class="text-lg font-normal mb-[55px] text-text-color-contact tracking-[0.22rem] font-louis">AYUDA</li>
        <li class="hover:text-hover-footer cursor-pointer">Chat</li>
        <li class="hover:text-hover-footer cursor-pointer">Contacto</li>
        <li class="hover:text-hover-footer cursor-pointer">Política de Privacidad</li>
        <li class="hover:text-hover-footer cursor-pointer">Mapa del sitio</li>
        <li class="hover:text-hover-footer cursor-pointer">Comunicados importantes</li>
        <li class="font-louis text-[23px] font-normal tracking-[0.22rem] mt-10 mb-8">Seguinos en nuestras redes</li>
        <ul class="flex">
          <li class="mr-[10px] cursor-pointer" (mouseenter)="hoverIcon(facebookOff)" (mouseleave)="resetIcon()"><img class="w-[30px] h-[34.5px]" [src]="facebookOff" alt=""></li>
          <li class="mr-[10px] cursor-pointer" (mouseenter)="hoverIcon(twitterOff)" (mouseleave)="resetIcon()"><img class="w-[30px] h-[34.5px]" [src]="twitterOff" alt=""></li>
          <li class="mr-[10px] cursor-pointer" (mouseenter)="hoverIcon(instagramOff)" (mouseleave)="resetIcon()"><img class="w-[30px] h-[34.5px]" [src]="instagramOff" alt=""></li>
          <li class="mr-[10px] cursor-pointer" (mouseenter)="hoverIcon(youtubeOff)" (mouseleave)="resetIcon()"><img class="w-[30px] h-[34.5px]" [src]="youtubeOff" alt=""></li>
          <li class="mr-[10px] cursor-pointer" (mouseenter)="hoverIcon(whatsappOff)" (mouseleave)="resetIcon()"><img class="w-[30px] h-[34.5px]" [src]="whatsappOff" alt=""></li>
        </ul>
      </ul>
    </div>
  </div>
  <div class="h-[74.5px] flex justify-end w-full pr-[200px] mt-24"><img class="w-[54.5px]" src="./assets/images/DATAWEB.webp" alt=""></div>
  <hr class="border-[1px] border-[#ddd] my-10 h-0">
</section>
